.bg{
  width:100vw;
  height:100vh;
  background-image: url('../img/background.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  /* background-color: #003865;  */
}
.color-bg{
  width:100vw;
  height:100vh;
  background-color: rgba(157,157,156, 0.6);
  overflow: auto;
}
.contImg{
  padding: 0px;
  margin: 5px;
}
#datosPersonales{
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url('../img/inicio/datos_personales.jpg');
  height: 250px;
}
#pacientes{
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url('../img/inicio/fisio.jpg');
}
#historia_clinica{
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url('../img/inicio/historia_clinica.jpg');
}
#consultas{
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url('../img/inicio/consultas.jpg');
  height: 250px;
}
#citas{
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url('../img/inicio/citas.jpg');
}
#cerrar_sesion{
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url('../img/inicio/cerrar_sesion.jpg');
}

/* The Modal (background) */
.modalB {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modalB-content {
  position: relative;
  background-color: #fefefe;
  margin: auto;
  padding: 0;
  border: 1px solid #888;
  width: 80%;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
  -webkit-animation-name: animatetop;
  -webkit-animation-duration: 0.4s;
  animation-name: animatetop;
  animation-duration: 0.4s;
}

/* Add Animation */
@-webkit-keyframes animatetop {
  from {top:-300px; opacity:0}
  to {top:0; opacity:1}
}

@keyframes animatetop {
  from {top:-300px; opacity:0}
  to {top:0; opacity:1}
}

/* The Close Button */
.closeB {
  color: white;
  float: right;
  font-size: 28px;
  font-weight: bold;
}
#btnNuevoPaciente{
  background-color: #003764;
}
.closeB:hover,
.closeB:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}
.contenido{
  margin-top: 2%;
}
.textoImg{
  position: absolute;
  padding: 25%;
  padding-left: 40%;
  font-size: 120%;
  font-weight: bold;
    color: rgba(255,183,0,0.9);
}
.modalB-header {
  padding: 2px 16px;
  background-color: #003764;
  color: white;
}


.modalB-body {padding: 2px 16px;}

.modalB-footer {
  padding: 2px 16px;
  background-color: #fff;
  color: white;
}

.grayMarista{
  background-color: rgba(157, 157, 156, 0.5) ;
}
.yellowMarista{
  background-color: rgba(255,183,0,0.8);
}
@media screen and (max-width: 767px) {
  #datosPersonales{
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url('../img/inicio/datos_personales.jpg');
    height: 150px;
    width: 90%;
  }
  .textoImg{
    position: relative;
    padding: 25%;
    padding-left: 40%;
    font-size: 120%;
    font-weight: bold;
      color: rgba(255,183,0,0.9);
  }
}
