#search{
  margin-top: 40px;
}

#buttonSearch {
  border: 0;
  background: none;
  padding: 2px 5px;
  margin-top: 2px;
  margin-left: 5px;
  position: relative;
  left: -28px;
  margin-bottom: 0;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  background-color: rgba(157, 157, 156, 0.2);
  color:rgba(255,183,0,1);
}
input[type=text]:focus{
  border: 1px solid rgba(255,183,0,1) !important;
  box-shadow: 0 0 3px rgba(255,183,0,1) !important;
  -moz-box-shadow: 0 0 3px rgba(255,183,0,1) !important;
  -webkit-box-shadow: 0 0 3px rgba(255,183,0,1) !important;
}
.grayMarista{
  background-color: rgba(157, 157, 156, 0.5) ;
}
.yellowMarista{
  background-color: rgba(255,183,0,0.8);
}

#table{
  margin: auto;
  width: 95%;
}

@media screen and (max-width: 550px){
  .cita{
    display: none
  }
  #buttonSearch{
    width: 100%;
    margin-left: 25px;
  }
}
