*,*:before, *:after{
    box-sizing: inherit;
}

.contenedor{
    width: 98%;
    margin: 0 auto;
}

.seccion{
    padding: 30px 0;

}

.seccion p{
    font-size: 1.2em;
    text-align: justify;
}

h2{
    font-family: 'Oswald', sans-serif;
    font-size: 2.4em;
    text-transform: uppercase;
    text-align: center;
    background-color: rgba(255,183,0,0.8);
}

h2::after {
    content: '';
    margin: 0 auto;
    /**background-image: url(../img/separador.png);**/
    height: 30px;
    width: 100px;
    display: block; 
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;

}

/**Estadisticas**/

ul.lista-estadisticas li{
    padding: 10px;
    float: left;

}

@media only screen and (min-widt: 480px){
    ul.lista-estadisticas li{
        width: 50%;
    }
}

@media only screen and (min-widt: 480px){
    ul.lista-estadisticas li{
        width: 33.3%;
    }
}

div.estadistica {
    position: relative;
    overflow: hidden;
}

div.estadistica img{
    max-width: 100%;
    width: 500px;
    height: 350px;
}

div.estadistica p {
    position: absolute;
    bottom: 0;
    left: 0%;
    padding: 15px 10px;
    margin: 0;
    background-color: rgba(0, 0, 0, 0.1);
    width: 100%;
    text-align: left;
    font-family: 'Oswald', sans-serif;
    color: #fe4918;
    text-transform: uppercase;
}

.button{
    background-color: blue;
}
input[type=button]:hover, input[type=submit]:hover, input[type=reset]:hover  {
    background-color: #39ace7;
  }

  input[type=button]:active, input[type=submit]:active, input[type=reset]:active  {
    -moz-transform: scale(0.95);
    -webkit-transform: scale(0.95);
    -o-transform: scale(0.95);
    -ms-transform: scale(0.95);
    transform: scale(0.95);
  }
  
  img {
      